.sidebar{
  flex: 1;
  height: calc(100vh - 50px);
  background-color: rgb(255, 253, 253);
  position: sticky;
  top: 50px;
}

.sidebarWrapper{
  padding: 20px;
  color: #555;
}

.sidebarMenu{
  margin-bottom: 10px;
}

.sidebarTitle{
  font-size: 13px;
  color: blueviolet;
}

.sidebarList{
  list-style: none;
  padding: 5px;
}

.sidebarListItem{
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover{
  background-color: antiquewhite;
}

.sidebarIcon{
  margin-right: 5px;
  font-size: 20px !important;
}